@import "tailwindcss";

html, body {
  font-family: 'DM Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

a, button {
	cursor: pointer;
}

@theme {
	--font-dm-sans: 'DM Sans', sans-serif;
	--font-prata-serif: 'Prata', serif;
	
	--color-bluish-cyan: #2b8dae;
	--color-greenish-cyan: #01e19a;
	--color-navy-blue: #2857a6;
	
	--text-md: 1rem;
}

.drag-none {
	-webkit-user-drag: none;
}

.form-input { @apply px-3 py-2 text-md border border-gray-300 rounded-md }
.gradient-button { @apply bg-linear-45 from-navy-blue to-greenish-cyan text-white shadow-md font-medium rounded-md }
.code { @apply inline-block bg-[#e2e4e5] border-l-3 border-bluish-cyan rounded-md }
.pre { @apply text-gray-600 font-mono font-normal }

/* hover animations */
.hover-extend { @apply transition-all duration-300 ease-out hover:px-12 }
.hover-shadow { @apply transition-all duration-300 ease-out hover:shadow-[rgba(0,0,0,0.3)]! }